<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.9/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="285px">
            <el-row :gutter="10">
                <el-col :span="3">
                    <el-card shadow="hover">
                        <h4>Genres</h4>
                        <el-checkbox-group v-model="selectedGenres" v-loading="loadingEntities">
                            <div v-for="g in genres" v-show="isGenreAvailable(g.id)">
                                <el-checkbox :label="g.id">{{ g.name }}</el-checkbox>
                            </div>
                        </el-checkbox-group>
                    </el-card>
                </el-col>
                <el-col :span="4">
                    <el-card shadow="hover">
                        <h4>Countries</h4>
                        <el-checkbox-group v-model="selectedMakingCountries" v-loading="loadingEntities">
                            <div v-for="c in countries" v-show="isCountryAvailable(c.id)">
                                <el-checkbox :label="c.id">{{ c.name }}</el-checkbox>
                            </div>
                        </el-checkbox-group>
                    </el-card>
                </el-col>
                <el-col :span="4">
                    <el-card shadow="hover">
                        <h4>Location Countries</h4>
                        <el-checkbox-group v-model="selectedFilmingCountries" v-loading="loadingEntities">
                            <div v-for="c in countries" v-show="isLocationAvailable(c.id)">
                                <el-checkbox :label="c.id">{{ c.name }}</el-checkbox>
                            </div>
                        </el-checkbox-group>
                    </el-card>
                </el-col>
                <el-col :span="13">
                    <el-card shadow="hover">
                        <el-form label-width="120px">
                            <el-form-item label="Movie Year">
                                <el-date-picker type="year" value-format="yyyy" v-model="startYear" size="mini"
                                                placeholder="start year" style="width: 120px">
                                </el-date-picker>
                                <el-date-picker type="year" value-format="yyyy" v-model="endYear" size="mini"
                                                placeholder="end year" style="width: 120px">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="Critics Rating">
                                <el-radio-group v-model="ratingOp" size="mini">
                                    <el-radio-button label="<"></el-radio-button>
                                    <el-radio-button label="≤"></el-radio-button>
                                    <el-radio-button label="="></el-radio-button>
                                    <el-radio-button label="≥"></el-radio-button>
                                    <el-radio-button label=">"></el-radio-button>
                                </el-radio-group>
                                &nbsp;&nbsp;
                                <el-button type="text" :disabled="!ratingOp" @click="ratingOp=''">clear</el-button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <el-rate v-model="ratingVal" :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
                                         :max="10" :low-threshold="3" :high-threshold="8" show-score
                                         style="display: inline-flex"></el-rate>
                            </el-form-item>
                            <el-form-item label="Critics Reviews">
                                <el-radio-group v-model="reviewsOp" size="mini">
                                    <el-radio-button label="<"></el-radio-button>
                                    <el-radio-button label="≤"></el-radio-button>
                                    <el-radio-button label="="></el-radio-button>
                                    <el-radio-button label="≥"></el-radio-button>
                                    <el-radio-button label=">"></el-radio-button>
                                </el-radio-group>
                                &nbsp;&nbsp;
                                <el-button type="text" :disabled="!reviewsOp" @click="reviewsOp=''">clear</el-button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <el-input-number v-model="reviewsVal" :min="1" size="mini"></el-input-number>
                            </el-form-item>
                            <el-form-item label="Between Criteria">
                                <el-switch v-model="relationshipBetweenAttributes"
                                           active-color="#13CE66" inactive-color="#409EFF"
                                           active-text="AND" inactive-text="OR"></el-switch>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-row>
                        <el-card shadow="never" v-loading="loadingEntities">
                            <h4>Tags <span v-if="tags"> - {{ tags.length }}</span></h4>
                            <div class="tag-panel">
                                <el-badge v-for="t in tags" :value="t.weight"
                                          :type="t.weight > 8 ? 'danger' : 'primary'">
                                    <el-button size="mini">{{ t.name }}</el-button>
                                </el-badge>
                            </div>
                        </el-card>
                    </el-row>
                    <el-row style="margin-top: 10px">
                        <el-card shadow="never" v-loading="loadingEntities">
                            <div class="sql-panel">
                                <pre><code>{{ sql }}</code></pre>
                            </div>
                        </el-card>
                    </el-row>
                </el-col>
                <el-col :span="16">
                    <el-card v-loading="loadingMovies">
                        <el-table :data="movies" stripe height="320px">
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <el-popover placement="top-end" width="100" trigger="hover">
                                        <img :src="props.row.picUrl" class="image" v-if="!!props.row.picUrl">
                                        <el-form slot="reference" label-position="left" inline
                                                 class="demo-table-expand">
                                            <el-form-item label="All Critics rating">
                                                <span>{{ props.row.allCriticsRating }}</span>
                                            </el-form-item>
                                            <el-form-item label="All Critics reviews">
                                                <span>{{ props.row.allCriticsNum }}</span>
                                            </el-form-item>
                                            <el-form-item label="Top Critics rating">
                                                <span>{{ props.row.topCriticsRating }}</span>
                                            </el-form-item>
                                            <el-form-item label="Top Critics reviews">
                                                <span>{{ props.row.topCriticsNum }}</span>
                                            </el-form-item>
                                            <el-form-item label="Audiences rating">
                                                <span>{{ props.row.audienceRating }}</span>
                                            </el-form-item>
                                            <el-form-item label="Audiences ratings">
                                                <span>{{ props.row.audienceNum }}</span>
                                            </el-form-item>
                                            <el-form-item label="Genres">
                                                <ul>
                                                    <li v-for="g in props.row.genres">{{ g }}</li>
                                                </ul>
                                            </el-form-item>
                                            <el-form-item label="Locations">
                                                <ul>
                                                    <li v-for="l in props.row.locations">{{ l }}</li>
                                                </ul>
                                            </el-form-item>
                                        </el-form>
                                    </el-popover>
                                </template>
                            </el-table-column>
                            <el-table-column prop="id" label="ID" width="80"></el-table-column>
                            <el-table-column prop="title" label="Title"></el-table-column>
                            <el-table-column prop="country" label="Country" width="160"></el-table-column>
                            <el-table-column prop="year" label="Year" width="80"></el-table-column>
                        </el-table>
                        <el-pagination :current-page.sync="currentPage" :total="moviesCount"
                                       layout="total, prev, pager, next, jumper"></el-pagination>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.4.9/lib/index.js"></script>
<script src="https://unpkg.com/element-ui@2.4.9/lib/umd/locale/en.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.17.11/lodash.js"></script>
<script>
    ELEMENT.locale(ELEMENT.lang.en);
    var vm = new Vue({
        el: '#app',
        data: {
            genres: [],
            selectedGenres: [],
            countries: [],
            selectedMakingCountries: [],
            selectedFilmingCountries: [],
            startYear: '',
            endYear: '',
            ratingOp: '',
            ratingVal: 8,
            reviewsOp: '',
            reviewsVal: 10,
            loadingEntities: false,
            movies: [],
            tags: [],
            loadingMovies: false,
            currentPage: 1,
            moviesCount: 0,
            relationshipBetweenAttributes: true,
            sql: '',
            availableGenres: new Set(),
            availableCountries: new Set(),
            availableLocations: new Set()
        },
        watch: {
            selectedGenres: function () {
                this.debouncedPrepareMovies();
            },
            selectedMakingCountries: function () {
                this.debouncedPrepareMovies();
            },
            selectedFilmingCountries: function () {
                this.debouncedPrepareMovies();
            },
            startYear: function () {
                this.debouncedPrepareMovies();
            },
            endYear: function () {
                this.debouncedPrepareMovies();
            },
            ratingOp: function () {
                this.debouncedPrepareMovies();
            },
            ratingVal: function () {
                if (!this.ratingOp)
                    this.ratingOp = '≥';
                else
                    this.debouncedPrepareMovies();
            },
            reviewsOp: function () {
                this.debouncedPrepareMovies();
            },
            reviewsVal: function () {
                if (!this.reviewsOp)
                    this.reviewsOp = '≥';
                else
                    this.debouncedPrepareMovies();
            },
            relationshipBetweenAttributes: function () {
                this.prepareMovies();
            },
            currentPage: function () {
                this.debouncedGetMovies();
            }
        },
        created: function () {
            var vm = this;
            vm.loadingEntities = true;
            axios.get('/initialize').then(function (response) {
                vm.genres = response.data.genres;
                vm.countries = response.data.countries;
                vm.loadingEntities = false;
            });
            this.prepareMovies();
            this.debouncedPrepareMovies = _.debounce(this.prepareMovies, 2000)
            this.debouncedGetMovies = _.debounce(this.getMovies, 100)
        },
        methods: {
            isGenreAvailable: function (id) {
                return this.availableGenres.has(id);
            },
            isCountryAvailable: function (id) {
                return this.availableCountries.has(id);
            },
            isLocationAvailable: function (id) {
                return this.availableLocations.has(id);
            },
            removeIfNotExists: function (source, set) {
                var i = source.length;
                while (i--)
                    if (!set.has(source[i]))
                        source.splice(i, 1);
            },
            prepareMovies: function () {
                var vm = this;
                vm.loadingEntities = true;
                axios.get('/prepare', {
                    params: {
                        genres: this.selectedGenres.join(','),
                        countries: this.selectedMakingCountries.join(','),
                        locations: this.selectedFilmingCountries.join(','),
                        startYear: this.startYear,
                        endYear: this.endYear,
                        ratingOp: this.ratingOp,
                        ratingVal: this.ratingVal,
                        reviewsOp: this.reviewsOp,
                        reviewsVal: this.reviewsVal,
                        relationshipBetweenAttributes: this.relationshipBetweenAttributes
                    }
                }).then(function (response) {
                    vm.sql = response.data.sql;
                    vm.availableGenres = new Set(response.data.availableGenres);
                    vm.removeIfNotExists(vm.selectedGenres, vm.availableGenres);
                    vm.availableCountries = new Set(response.data.availableCountries);
                    vm.removeIfNotExists(vm.selectedMakingCountries, vm.availableCountries);
                    vm.availableLocations = new Set(response.data.availableLocations);
                    vm.removeIfNotExists(vm.selectedFilmingCountries, vm.availableLocations);
                    vm.loadingEntities = false;
                    vm.currentPage = 1;
                    vm.debouncedGetMovies();
                });
            },
            getMovies: function () {
                var vm = this;
                vm.loadingMovies = true;
                axios.get('/movies', {
                    params: {
                        genres: this.selectedGenres.join(','),
                        countries: this.selectedMakingCountries.join(','),
                        locations: this.selectedFilmingCountries.join(','),
                        startYear: this.startYear,
                        endYear: this.endYear,
                        ratingOp: this.ratingOp,
                        ratingVal: this.ratingVal,
                        reviewsOp: this.reviewsOp,
                        reviewsVal: this.reviewsVal,
                        relationshipBetweenAttributes: this.relationshipBetweenAttributes,
                        page: this.currentPage
                    }
                }).then(function (response) {
                    vm.movies = response.data.movies;
                    vm.moviesCount = response.data.count;
                    vm.tags = response.data.tags;
                    vm.loadingMovies = false;
                });
            }
        }
    })
</script>
<style>
    .el-card h4 {
        margin-top: 0px;
        margin-bottom: 8px;
    }

    .el-card .el-checkbox-group {
        height: 225px;
        overflow-y: auto;
    }

    .tag-panel {
        padding-top: 10px;
        height: 100px;
        overflow-y: auto;
    }

    .tag-panel .el-badge {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .sql-panel {
        height: 180px;
        overflow-y: auto;
    }

    .sql-panel pre {
        white-space: pre-wrap;
        word-break: break-word;
    }

    .el-pagination {
        margin-top: 20px;
        text-align: center;
    }

    .demo-table-expand {
        font-size: 0;
    }

    .demo-table-expand label {
        width: 125px;
        color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }

    .image {
        width: 100%;
    }
</style>
</html>